<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe List</title>
</head>
<body>
<h1 th:text="'index page'">index</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Difficulty</th>
    </tr>
    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.id}"></td>
        <td th:text="${recipe.description}"></td>
        <td th:text="${recipe.difficulty}"></td>
<!--        <td><img th:src="@{'data:image/jpg;base64,' + ${recipe.image}" /></td>-->
    </tr>
</table>
</body>
</html>